* { 
    margin: 0; padding: 0; 
}

body, h1, p, ul, li { 
    margin: 0; padding: 0; 
}

img {
    border-radius: 2px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}

/* Navbar*/

.container-navbar {
    margin-right: auto;
    margin-left: auto;
    padding-left: 115px;
    padding-right: 115px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #353a40;
}

li {
    float: right;
}

li a {
    display: block;
    color: #7c8287;
    padding: 13px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.active {
    color: white;
}

.logo {
    font-size: 17px;
    padding: 13px 0;

}

h1 {
    font-size: 38px;
    margin-bottom: 7px;
}
/* Content */

.project-tagline {
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding: 15px;
}

.project-image {
    box-sizing: border-box;
    display: block;
    max-width: 70%;
    height: auto;
    float: left;
    padding: 15px;

}

.showcase {
    clear: both;
    text-align: center;
    background-color: #878e96;
    color: white;
    padding: 15px;
    margin: 15px;        
    border-radius: 2px;
}

.call-button {
    position: relative;
    top:25px;
    padding: 10px;
    color: white;
    background-color: #007dff;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 2px;
}

/* Cards */

.card {
    box-sizing: border-box;
    width: 29%;
    float: left;
    margin: 15px;
}

.card div {
    border: 1px solid #f0f0f0;
    padding: 15px;
}

.card div + div {
    height: 45px;
}

.card h2 {
    font-size: 25px;
    padding-bottom: 15px;
}

.card p {
    height: 93px;
    overflow: hidden;
}

.more-info {
    padding: 10px;
    color: white;
    background-color: #007dff;
    position: relative;
    top: 15px;
    text-decoration: none;    
    border-radius: 2px;
}

/* Footer */

footer {
    clear: both;
    background-color: #353a40;
    padding: 35px;
    position: relative;
    top: 45px;
    margin-top: 70px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 14px;
}