@import './normalize.css';
@import './base.css';

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 29rem;
    margin: 5rem auto;
    padding: 3.6rem;
    background: rgb(34, 34, 34);
    border-radius: 10px;
}

#button1,
#button2,
#button3 {
    order: 1;
}

button[id="button/"] {
    order: 2;
}

#button4,
#button5,
#button6 {
    order: 3;
}

button[id="button+"] {
    order: 4;
}

#button7,
#button8,
#button9 {
    order: 5;
}

button[id="button-"] {
    order: 6;
}

button[id="button("] {
    order: 7;
}

#button0 {
    order: 8;
}

button[id="button)"] {
    order: 9;
}

button[id="button*"] {
    order: 10;
}

button[id="buttonMath.log"],
button[id="buttonMath.sqrt"],
button[id="button."] {
    order: 11;
}

button[id="buttonMath.log"],
button[id="buttonMath.sqrt"] {
    width: 64px;
    font-size: 1rem;
}