* { 
    margin: 0; padding: 0; 
}

body, h1, p, ul, li { 
    margin: 0; padding: 0; 
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}

/* Navbar*/

.container-navbar {
    margin-right: auto;
    margin-left: auto;
    padding-left: 115px;
    padding-right: 115px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #353a40;
}

li {
    float: right;
}

li a {
    display: block;
    color: #7c8287;
    padding: 13px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.active {
    color: white;
}

.logo {
    font-size: 17px;
}

h1 {
    font-size: 38px;
    margin-top: 15px;
}
/* Content */

span {
    font-size: 30px;
    font-weight: 100
}

.project {
    box-sizing: border-box;
    width: 22.3%;
    float: left;
    margin: 15px;
}

.project div {
    border: 1px solid #f0f0f0;
    height: 350px;
}

.project-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.project h3 {
    padding: 15px;
    color: #165deb;
    font-size: 25px;
}

.project p {
    padding: 0 15px 15px 15px;
}

/* Footer*/

footer {
    clear: both;
    background-color: #353a40;
    padding: 35px; 
}

footer p {
    color: white;
    text-align: center;
    font-size: 14px;
}