body {
    text-align: center;
    background-color: rgb(133, 212, 248);
}

h3 {
    text-align: center;
    padding: 15px;
}

li {
    list-style: none;
}

#blog-name {
    color: red;
}

aside {
    text-align: center;
    padding: 20px;
}

.readings {
    text-align: center;
}

#top {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: gray;
    background-color: rgb(5, 5, 27);
}



#chuck-norris-container h5 {
    margin-top: 0;
    margin-bottom: 5px
}

#chuck-norris-widget {
    background-color: yellow;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 10px;
}

footer {
    background-color: red;
    padding: 15px;
    margin-top: 15px;
}